* {
    font-family:sans-serif;
    
}

body {
    margin: 0;
    background:  #e96fa2 ;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background: rgb(245, 245, 245);
    clip-path: blur(3);
    padding: 15px;
    border-radius: 32px;
    box-shadow: 0px 10px 10px 10px #00000017;
}

button {
    color: #ffffff;
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background: #ffb4b4;

}

button:active {
    background-color: #6135ff;
}

button:focus {
    outline: none;
}

.col-2 {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #ffadad;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 10px 10px 10px #00000017;
}

#valor-actual {
    font-size: 1.5em;
    color: #fff;
}

#valor-anterior {
    color: #fff;
    font-size: 2em;
}